<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bee.springboot.mapper.UserMapper">
 
  <select id="findUserInfo" resultType="com.bee.springboot.entity.User">
    select id,name,createDate from user;
  </select>

  <select id="findOneUserInfo" resultType="com.bee.springboot.entity.User" parameterType="java.lang.Integer">
    select id,name  from user where id=#{id,jdbcType=INTEGER};
  </select>

  <insert id="addUserInfo" parameterType="com.bee.springboot.entity.User">
  	insert into user (id, name ,createDate
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{createDate}
      )
  </insert>
  <delete id="delUserInfo" parameterType="java.lang.Integer">
   delete from user where id = #{id,jdbcType=INTEGER}
  </delete>
 
</mapper>